<article>
<p> 
Lorem <code>ipsum dolor sit amet</code>, consectetur adipiscing elit. Morbi sed tellus eu elit commodo feugiat ac vel mi. Nulla luctus placerat metus, in congue nunc egestas et. Nam nec est elit. In hac habitasse platea dictumst. Donec sed lectus nec nisl pharetra mattis quis rutrum risus. Aenean sodales dignissim turpis, at lobortis odio tincidunt a. Donec iaculis convallis odio, nec lobortis metus mattis sit amet. Pellentesque ac augue sem. In hac habitasse platea dictumst. Phasellus orci velit, luctus ut ornare ut, venenatis et ante. Nunc erat mauris, accumsan interdum eleifend at, ullamcorper eget turpis.
</p>
<p>
<a href="#" class="button">Download Now!</a>
<a href="#" class="button">Download Now!<span><br />Hier staat dan ook nog wat...</span></a>
</P>
<p> 
Fusce ac libero lacus. <a href="http://lipsum.com/">Vivamus vestibulum</a>, elit vitae consequat cursus, augue metus iaculis nisi, sit amet laoreet orci eros vel eros. Nulla lobortis lobortis feugiat. Vivamus justo arcu, faucibus a rutrum nec, sodales eget augue. Cras vel nisl vitae orci tempor facilisis a in felis. Etiam at convallis neque. Vestibulum vitae velit a erat mollis pharetra vitae ut ipsum. Donec mauris arcu, suscipit vitae ullamcorper a, imperdiet sit amet diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur pharetra mattis ligula id ultricies. Vivamus elementum aliquet ligula eget accumsan. Donec porttitor metus eget nisi feugiat mollis. Cras sollicitudin congue nisi in dapibus. Nullam sed enim vitae neque tristique semper. Nam tristique, magna sit amet dictum feugiat, nibh neque lobortis mauris, et ullamcorper ipsum lacus vel massa.
</p> 
<p> 
Mauris sed nisl eros, sit amet aliquet quam. Sed sollicitudin volutpat dictum. Pellentesque auctor, justo vitae pharetra vestibulum, lorem ipsum fermentum lorem, a blandit lorem quam eget odio. Sed luctus leo eu mi sagittis a vehicula dolor eleifend. Praesent eget ligula lorem, eget tincidunt sem. Morbi mollis dignissim iaculis. Integer sed velit augue, volutpat tincidunt ipsum. Cras pretium ipsum vel neque lobortis congue. Suspendisse eget ipsum neque. Maecenas malesuada volutpat dui, et commodo dolor accumsan tincidunt. Donec ornare egestas eros, et luctus arcu fermentum sed. Cras risus quam, varius ac adipiscing nec, placerat at metus. Nam sit amet ante vel neque imperdiet vulputate. Nulla facilisi. Aliquam nec sapien sed lectus tristique ullamcorper imperdiet ac elit. Praesent et justo sit amet neque cursus rutrum et eu quam.
</p>
</article>